
#tablero{
    background-color: rgb(242, 248, 242);
}

#tablero > h2 {
    text-align: center;
}

#contenedor-granjas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 15px;
    padding: 30px 0px;
    border: 1px solid black;
}


#opciones-tablero{
    display: grid;
    justify-content: right;
    padding-right: 3vw;
}