#contenedor-granja-administrar{
    display: grid;
    background-color: rgb(250, 249, 228);
}
#contenedor-granja-administrar>h2{
    text-align: center;
}

#granja-interfaz{
    margin: 5vh 0px;
    display: grid;
    place-items: center;
}

#opciones-cultivo{
    display: grid;
    justify-content: center;

    margin-top: 3vh;
}