.tarjeta-granja{
    margin: 0px 20px;
    padding: 10px;
    outline: 1px solid black;
    background-color: rgb(248, 253, 248);
}

.detalles{
    background-color: rgb(242, 249, 242);
    outline: 1px inset rgb(232, 232, 232);
}

.botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}